@model IEnumerable<OMC.Models.DoctorDetails>

<table class="table">
    <tr>
        <th>
            DoctorName
        </th>
        <th>
            Speciality
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor)


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expertise)
            </td>
            <td>
                @Html.HiddenFor(i => item.DoctorId)
                <input type="button" itemid="@item.ProblemId" id="ConsultDoc" value="Consult" />
            </td>
        </tr>
    }

</table>

<script>
    $(function () {
        $("#ConsultDoc").on('click', function (e) {
            var DoctorId = $(this).closest('td').find("input[type=hidden]").val();
            var ProblemId = $(this).attr("itemid");
            $.ajax({
                url: "PatientProblem/ConsultDoctor",
                type: "GET",
                data: { DoctorId: DoctorId, ProblemId: ProblemId },
                success: function (result) {
                    if (result != "false") {
                        alert("Your request has been accepted.");
                        window.location.href = "PatientProblem";
                    }
                    else {
                        alert("Something went wrong");
                    }
                }
            });
        });
    });
</script>
