
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<h2>Patient Problem</h2>


Problem : <input type="text" id="txtProblem" maxlength="200" />
<div id="wrapper">
</div>


<script>


    $("#txtProblem").on('change', function (e) {
        $.ajax({
            url: "GetDoctorDetails",
            type: "GET",
            data: { problem : $(this).val()},
            success: function (result) {
                $("#wrapper").html(result);
                $(window).scrollTop(0);
            }
        });
    });

</script>